html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a0d7ff;
}

.calculator-box {
  height: 550px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f212d;
}

.result-box {
  height: 35%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.input-box {
  height: 60%;
  width: 90%;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 30px;
}

.preview {
  /* height: 20px; */
  min-height: 23px;
  height: min-content;
  margin: 10px 0 0 0;
  word-break: break-all;
}
.preview p {
  margin: 0;
  color: gray;
  font-size: 15px;
  display: inline;
}

.output {
  min-height: 50px;
  height: max-content;
  display: flex;
  align-items: center;
  word-break: break-all;
}
.output p {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: white;
  padding: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e3137;
  border-radius: 10px;
  color: #29a8ff;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  user-select: none;
}

.equals {
  grid-column: 4;
  grid-row: 4/6;
  background-color: #1991ff;
  color: white;
}

.zero {
  grid-column: 1/3;
}

.button p {
  margin-bottom: 20px;
}

.spec1 {
  background-color: #4b565e;
  color: #a0a1a2;
}

.spec2 {
  background-color: #005db2;
  color: #339dff;
}

.iconConfig {
  font-size: 30px;
}

.disabled {
  pointer-events: none;
  background-color: grey;
}